@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
.cursive{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}
.stu-single img{
    width: 60px;
}
table.table.table-striped.mt-2 {
    border: 1px solid #ddd;
}
#search_result_section{
    display: none;
}
.preloader{
width: 0;
height: 0;
opacity: 0;
}